* { 
    box-sizing: border-box; 
}

.hide {
    display: none;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-image: url('../img/plant.jpg');

    /*Taken from https://www.w3schools.com/cssref/css3_pr_background-size.asp*/
    background-repeat: no-repeat;
    margin: 5rem;
}

h1, h2 {
    color: rgb(33, 162, 194);
}

h1 {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2.5rem;
    padding: 1.5rem;
    display: inline-block;
}

button {
    border-radius: 5px;
    box-shadow: none;
    padding: 0.5rem;
    background-color: rgb(33, 162, 194);
    color: whitesmoke;
    font-weight: bold;
    margin: 0.1rem;
}

section {
    margin: 1rem;
}

.viewChange {
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}

.viewChange button, .viewChange input, .viewChange footer {
    display: none;
}

.viewChange .exception {
    display: inline-block;
}

.title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(33, 162, 194);
    display: inline;
    margin-right: 1rem;
}

nav {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}
    
nav a, #hamburger-menu {
    text-decoration: none;
    color: rgb(33, 162, 194);
    padding: .8rem;
}

nav h1, li, #hamburger-menu {
    display: inline;
    margin-right: 1rem;
}

.navBar {
    display:none;
}

.profile {
    display: none;
}

img {
    max-width: 150px;
    max-height: 150px;
}

.new {
    display: flex;
    flex-direction: column;
}

.new input {
    padding: 0.5em;
    margin: 0.5rem;
}

.allOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oneOption {
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2.5rem;
    padding: 1.5rem;
}

.oneQuestion {
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1rem;
    padding: 1.5rem;
}

.allQuestions {
    display: flex;
    flex-direction: column;
}

.heading {
    margin-top: 7rem;
    font-size: 12px;
}

/* Dropdown learnt from https://www.w3schools.com/howto/howto_css_dropdown_navbar.asp */
.dropdown {
    float: left;
    overflow: hidden;
  }
  
  .dropdown .dropbtn {
    border: none;
    outline: none;
    background-color: inherit;
    margin: 0;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
  }
  
  .dropdown-content a {
    float: none;
    color: rgb(33, 162, 194);
    padding: 1rem;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
  }

/*Medium screens, more than 768px*/
@media (min-width: 768px) {
    .dropdown, .dropbtn {
        display: none;
    }

    .profile {
        position: float;
        float: right;
        display: block;
    }

    .navBar {
        display: inline-block;
    }
    
    nav a:hover, nav a:active, nav a:focus {
        border-bottom: .3rem solid rgb(20, 85, 122);
        color: rgb(20, 85, 122);
    }
    
    li {
        font-size: 18px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        padding-top: .5rem;
        display: inline-block;
    }

    #hamburger-menu {
        display: none;
    }

    footer {
        color: whitesmoke;
    }

    /*Learned from https://www.w3schools.com/howto/howto_css_shake_image.asp*/
    img:hover {
        animation: shake 2s;
        animation-iteration-count: 30;
      }
      
      @keyframes shake {
        0% { transform: translate(1px, 1px) rotate(0deg); }
        10% { transform: translate(-1px, -2px) rotate(-5deg); }
        20% { transform: translate(-3px, 0px) rotate(5deg); }
        30% { transform: translate(3px, 2px) rotate(0deg); }
        40% { transform: translate(1px, -1px) rotate(5deg); }
        50% { transform: translate(-1px, 2px) rotate(-5deg); }
        60% { transform: translate(-3px, 1px) rotate(5deg); }
        70% { transform: translate(3px, 1px) rotate(-5deg); }
        80% { transform: translate(-1px, -1px) rotate(5deg); }
        90% { transform: translate(1px, 2px) rotate(0deg); }
        100% { transform: translate(1px, -2px) rotate(-5deg); }
      }
}
