* { 
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Roboto", sans-serif;
    background-image: url('../img/plant.jpg');

    /*Taken from https://www.w3schools.com/cssref/css3_pr_background-size.asp*/
    background-repeat: no-repeat;
    margin: 5rem;
}

h1, h2 {
    color: rgb(33, 162, 194);
}

h1 {
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2.5rem;
    padding: 1.5rem;
    display: inline-block;
}

button {
    border-radius: 5px;
    box-shadow: none;
    padding: 0.5rem;
    background-color: rgb(33, 162, 194);
    color: whitesmoke;
    font-weight: bold;
    margin: 0.1rem;
}

section {
    margin: 1rem;
}

.title {
    font-weight: bold;
    font-size: 18px;
    color: rgb(33, 162, 194);
    display: inline;
    margin-right: 1rem;
}

nav {
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.5rem;
}

.navBar {
    display:none;
}

.profile {
    display: none;
}

img {
    max-width: 150px;
    max-height: 150px;
}

.new {
    display: flex;
    flex-direction: column;
}

.new input {
    padding: 0.5em;
    margin: 0.5rem;
}

.allOptions {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.oneOption {
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 2.5rem;
    padding: 1.5rem;
}

.oneQuestion {
    border-collapse: collapse;
    background-color: whitesmoke;
    border-radius: 10px;
    margin: 1rem;
    padding: 1.5rem;
}

.allQuestions {
    display: flex;
    flex-direction: column;
}

.heading {
    margin-top: 7rem;
    font-size: 12px;
}

#hamburger-menu {
    display: inline-block;
}

footer {
    color: whitesmoke;
}

/*Medium screens, more than 768px*/
@media (min-width: 768px) {
    .profile {
        position: float;
        float: right;
        display: block;
    }

    .navBar {
        display: block;
    }
    
    nav a {
        text-decoration: none;
        color: rgb(33, 162, 194);
        padding: .8rem;
    }
    
    nav a:hover, nav a:active, nav a:focus {
        border-bottom: .3rem solid rgb(20, 85, 122);
        color: rgb(20, 85, 122);
    }
    
    nav h1, li {
        display: inline;
        margin-right: 1rem;
    }
    
    li {
        font-size: 18px;
    }
    
    ul {
        margin: 0;
        padding: 0;
        padding-top: .5rem;
        display: inline-block;
    }

    #hamburger-menu {
        display: none;
    }
}
